/.git/
/.vs/
/bin/
/obj/
/Properties/

App.config
CHI PHÍ HÀNG THÁNG.xlsx
dbcsdl.dbml
dbcsdl.dbml.layout
dbcsdl.designer.cs
frmDangKy.Designer.cs
frmDangKy.resx
frmDangNhap.Designer.cs
frmDangNhap.resx
frmDanhMuc.Designer.cs
frmDanhMuc.resx
Program.cs
QuanLyChiTieu.sln


