<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyChiTieu.Properties.Settings.dbQuanLyChiTieuConnectionString"
            connectionString="Data Source=LAPTOP-EJUEGTMT\SQLEXPRESS14;Initial Catalog=dbQuanLyChiTieu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>